body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.small-logo {
  width: 150px;
  position: absolute; /* Ensures the logo can be placed freely on the screen */
  top: 10px; /* Positions the logo 10px from the top */
  left: 10px; /* Positions the logo 10px from the left */
  z-index: 1000; /* High z-index to ensure it appears above other content */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 300px; 
  margin-right: 20px;
}

.big-logo {
  width: 400px; 
}

.login-form {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-password {
  display: block;
  margin-bottom: 15px;
  color: #a00;
  text-decoration: none;
}

.btn {
  background-color: #a00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex; /* Uses flexbox to center content inside the button */
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally */
  text-decoration: none; /* Removes underline */
  font-size: 16px; /* Increases font size for readability */
  font-weight: bold; /* Makes the font bold */
  width: auto; /* Adjust width as needed, or use '100%' to fill the container */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn:hover {
  background-color: #900;
}

.register-link {
  margin-top: 15px;
}

.register-link a {
  color: #a00;
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: center; /* Centering buttons horizontally on the page */
  gap: 20px; /* Space between buttons */
  margin-top: 20px; /* Optional: Adds some space above the button container */
}

.welcome-header {
  font-size: 24px; /* Larger font size for visibility */
  color: #333; /* Dark grey color for the text */
  text-align: center; /* Centers the text horizontally */
  padding: 20px; /* Adds padding around the text */
  margin: 0; /* Removes any default margin */
  background-color: #f5f5f5; /* Light grey background for contrast */
  border-bottom: 2px solid #ccc; /* Adds a subtle border to the bottom */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  width: 100%; /* Ensures it spans the full width of its container */
}
